@import url("./variables.css");

.btn {
  background-color: var(--iconBackgrounColor) !important;
}

.btn {
  border: none !important;
}

.card {
  border: none !important;
}

table thead {
  background-color: var(--iconBackgrounColor) !important;
}

