:root {
    --primaryColor: #fff;
    --primaryTextColor: #fff;
    --iconBackgrounColor: rgb(62, 139, 226);
    --hoverColor: rgba(114, 199, 255, 0.809);
    --cardColor: rgb(255, 255, 255);
    --iconsColor: rgb(62, 139, 226);
    --activeBackgroundColor: rgb(62, 139, 226);
    --siteBackgroundColor: rgb(255, 255, 255);
}